body {
    background-color:#bfe2e2;
    height: 100vh; /*Necessary.  100vh = 100% of the viewport height*/
    padding: 0; /* No padding */
    margin: 0; /* No margins */
    background: url("main.svg") repeat;  
    background-size: cover; /* Cover all available space*/
}

button {
    background: #a2c0c0;
}

label {
    width:auto;
    float: left;
}

#taskContainer {
    height:auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    width:130vh;
    position:absolute;
    top:10vh;
    left:20vh;
}

#header {
    font-size:50px;
}


#taskPopupForm {
    display:none;
    font-size: large;
    text-align: left;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin: auto;
    top: 25vh;
    width: 40vh;
    padding: 1%;
    height: auto;
    border: solid 1px black;
    background: #A4BDBE;
    z-index: 1; /* Puts create task popup in front of tasks */
}

#cancel {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    height: auto;
    width: auto;
    background: #D5B9B1;
    border: solid 1px black;
    position: absolute;
    top: 5%;
    left: 95%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#cancel:hover {
    background: #b5887b;
}

#submit {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    height: auto;
    width: 15vh;
    background: #D5B9B1;
    border: solid 1px black;
    position: absolute;
    top: 95%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#createButton {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top:21vh;
    left:20vh;
    border: solid 1px black;
}

#createButton:hover {
    background: #578f8f;
}

#logoutButton {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top:17vh;
    left:20vh;
    border: solid 1px black;
}

#logoutButton:hover {
    background: #578f8f;
}

#sortTypes {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top:17vh;
    float:right;
}

#sort {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top:17vh;
    float:right;
    margin-right:20px;
    border: solid 1px black;
}

#sort:hover {
    background: #578f8f;
}

#searchInput {
    position: relative;
    top:17vh;
    float:right;
}

#search {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top:17vh;
    float:right;
    border: solid 1px black;
}

#search:hover {
    background: #578f8f;
}


#taskGrid {
    display: grid;
    grid-template-columns: 315px 315px 315px 315px;
    grid-template-rows: 189px 189px 189px 189px;
    column-gap: 20px;
    row-gap: 20px;
    position: absolute;
    top: 30vh;
}

.task {
    position: relative;
    border-radius: 20px;
    background: #457373;
    color: white;
    border: solid 1px black;
    padding: 20px;
    width: 315px;
    height: 189px;
}

.taskHeader {
    position: absolute;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.deleteTaskButton {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    right: 15px;
    bottom: 10px;
    border: solid 1px black;
}

.deleteTaskButton:hover {
    background: #578f8f;
}
