h1 {text-align: center;}
form {text-align: center;}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

body {
    height: 100vh; /*Necessary.  100vh = 100% of the viewport height*/
    padding: 0; /* No padding */
    margin: 0; /* No margins */
    background: url("background2.svg") no-repeat;  
    background-size: cover; /* Cover all available space*/
    text-align: center;
}

#signForm {
    font-size: large;
    text-align: center;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    margin: auto;
    top: 10vh;
    width: 40vh;
    padding: 1%;
    height: auto;
    border: solid 1px black;
    background: #A4BDBE;
}

#intro h1 {
    position: relative;
    font-size: 60px;
    top: 17vh;
}

#intro h2 {
    position: relative;
    top: 8vh;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

#signForm button {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    height: auto;
    width: 15vh;
    background: #D5B9B1;
    border: solid 1px black;
}

#signForm button:hover {
    background: #c58b7b;
}